<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjCUd2tnyTqWahNAZzXp9Zzhf4Fps5pNw</string>
	<key>GCM_SENDER_ID</key>
	<string>699245068669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tasteworld.app</string>
	<key>PROJECT_ID</key>
	<string>taste-world-ad8da</string>
	<key>STORAGE_BUCKET</key>
	<string>taste-world-ad8da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699245068669:ios:62caf9c797df8297630c14</string>
</dict>
</plist>